html {
    background: black;
    color: grey;
}

a {
}

.your-character {
    border: 1px solid;
    clear: both;
    padding: 1rem;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
}

h3 {
    margin: 0;
}

.candidates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

figure {
    margin: 0;
    text-align: center;
    position: relative;
}

figcaption {
    /*
    border: 1px solid;
    border-top: 0;
    margin-top: -1px;
    */
}

img {
    max-width: 10vw;
    min-width: 60px;
    aspect-ratio: 1;
    height: auto;
    display: block;
    position: relative;
    user-select: none;
}

figure {
    border: 2px solid transparent;
}

figure.X {
    /*border-color: red;*/
    opacity: 30%;
}
